<div style= id="prolific-complete" class='jspsych-display-element'>
        <h1>Study complete</h1>

        <p>
        Your completion code is <b>3590E49F</b>
        Click this link to submit<br>
        <a href=https://app.prolific.co/submissions/complete?cc=3590E49F>  
            https://app.prolific.co/submissions/complete?cc=3590E49F
        </a>
        <p>
        If you have problems submitting, please contact 
        <a href="mailto:cocosci-lab@princeton.edu">cocosci-lab@princeton.edu</a>
    </div> 
