<div id="container-exp">
	<div id="trial">
		<canvas id="myCanvas" width="576" height="576" style="border: 1px solid black;"></canvas> 
		<p id='current'>Trial: 1</p>
		<pd id='cumulative'></p> 
		<div id="stim"></div>
		<div id="query"></div>
        <div >
            Insert description below
        </div>
        <div>
            <textarea id="comments" rows="1" cols="80" value=""></textarea>
        </div>
        <div>
            <button type="button" id="next_trial" value="next" class="btn btn-primary btn-lg continue">
                Continue <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <p id='error_message'></p>
        
	</div>
</div>
